* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--vscode-sideBar-background);
  color: var(--vscode-sideBar-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
