.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.npm-cache/**
node_modules/**
!node_modules/js-yaml/**
!node_modules/marked/**
