.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.npm-cache/**
../**
node_modules/@bangbang/core/**
node_modules/@brainfile/**
node_modules/**/test/**
node_modules/**/tests/**
esbuild.js
